@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

body {
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  height: auto;
  transition: all 2s;
}

.container .title {
  font-size: 45px;
  font-weight: 500;
  position: relative;
  margin-bottom: 10px;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-bottom input {
  text-transform: uppercase;
  height: 45px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 15px;
  border-bottom-width: 2px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.generate-graph {
  display: flex;
  gap: 5px;
}

.container-bottom input#stars {
  width: 85%;
}

.container-bottom button {
  height: 45px;
  width: 40%;
  font-size: 14px;
  border: 1px solid #4e4376;
  border-radius: 5px;
  outline: none;
  color: rgb(25, 20, 46);
  font-weight: 550;
}

.container-bottom input:focus {
  border-color: #4e4376;
}

.container-bottom button:hover {
  background: #4e4376;
  color: #fff;
  cursor: pointer;
}

div#graph {
  background: rgb(25, 20, 46);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

div#graph div {
  padding: 15px;
}

div.get-stars {
  display: flex;
  gap: 5px;
}

div#result {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}
